body {
    background-color: rgb(145, 145, 145);
    color: rgb(65, 188, 236);
    animation: mySecond 5s ease 0s infinite alternate;
    z-index: -1;
}

#intro {
    background-image: url('Technology-Watch.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    height: 400px;
}

#myCanvas2 {
    animation: myFirst 5s ease 0s infinite alternate;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    z-index: 1;
    text-align: center;
}

@keyframes myFirst {
    0% {
        background-color: #333;
        border-color: #333
    }
    100% {
        background-color: #333;
        border-color: #333;
    }
}

@keyframes mySecond {
    0% {
        background-color: black;
    }
    100% {
        background-color: white;
    }
}


/* for nav bar */

li {
    float: left;
    z-index: 1;
}

ol {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #333;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

li.bar {
    float: left;
}

li.bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.bar a:hover {
    background-color: rgba(0, 119, 255, 0.658);
}

#myContainer {
    width: 340px;
    height: 500px;
    position: relative;
    top: 69px;
    background: skyblue;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
}

#myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 350px;
    z-index: 1;
}

#arrows {
    position: absolute;
}

#shoot {
    position: absolute;
    width: 100;
    height: 100;
    z-index: 1;
}

.myShots {
    position: absolute;
    z-index: 0;
}

.enemyShots {
    position: absolute;
    z-index: 0;
}

#myCloud {
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 50px;
    opacity: .8;
}

.enemies {
    width: 50px;
    height: 60px;
    position: absolute;
    z-index: 1;
}

#weaponsOverload {
    position: absolute;
    font-size: 20px;
    font-family: monospace;
    margin: auto;
    z-index: 1;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    top: 300px;
    left: 70px;
    opacity: 0;
}

#healthBar {
    margin: auto;
    position: absolute;
    width: 100%;
    z-index: 2;
}

#healthBarImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 100px;
    z-index: 2;
}

#damaged {
    position: absolute;
    font-size: 20px;
    font-family: monospace;
    margin: auto;
    z-index: 1;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    top: 200px;
    left: 70px;
    opacity: 0;
}

#restartGame {
    background-color: black;
    position: absolute;
    z-index: 1;
    opacity: 0.7;
    width: 340px;
    top: 180px;
    color: red;
}

#restartButtonYes {
    position: relative;
    left: 220px;
    top: 50px;
    background-color: blue;
    z-index: 1;
    opacity: 0;
}

#restartButtonNo {
    position: relative;
    left: 270px;
    top: 50px;
    background-color: darkblue;
    z-index: 1;
    opacity: 0;
}

#restartQuestion {
    position: relative;
    width: 200px;
    height: 20px;
    top: 20px;
    color: red;
    background-color: black;
    opacity: 0;
    text-align: center;
}

#restartGame {
    position: relative;
    left: 75px;
    width: 0px;
}

.buttons {
    position: relative;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    height: 30px;
    width: 60px;
}

#startGame {
    background-color: black;
    opacity: 0.8;
    position: relative;
    left: 75px;
    top: 50px;
    align-items: center;
}

#startContent {
    padding: 10px;
    text-align: center;
}

#countDown {
    text-align: center;
    font-size: 50px;
}