            /* unvisited link */
            a:link {
                color: red;
                }
                /* visited link */
                a:visited {
                color: green;
                }
                /* mouse over link */
                a:hover {
                color: hotpink;
                }
                /* selected link */
                a:active {
                color: blue;
                } 
    
                /* for lists , its shorthand, the image is bound by a square*/
                ul {
                    list-style: square inside url("check.jpg");
                }
    
    
                /*tables*/
                table, td, th {
                border: 1px solid black;
                text-align: center;
                }
    
                table {
                border-collapse: collapse;
                width: 50%;
                }
    
                th {
                height: 50px;
                }
                tr:hover {background-color: #f5f5f5;}
    
                .chunk table {
                border-spacing: 0.5rem;
                    }
                .chunk td {
                    padding: 0.5rem;
                    }
                .chunk td:nth-child(1) { background: hsl(150, 50%, 50%); }
                .chunk td:nth-child(2) { background: hsl(160, 60%, 50%); }
                .chunk td:nth-child(3) { background: hsl(170, 70%, 50%); }
                .chunk td:nth-child(4) { background: hsl(180, 80%, 50%); }
                .chunk td:nth-child(5) { background: hsl(190, 90%, 50%); }
                .chunk td:nth-child(6) { background: hsl(200, 99%, 50%); }
                .chunk td:hover {background-color: #ff0707;}
    
                /* sizing and placing divs*/
                div.untamed {
                width: 500px;
                margin: auto;
                border: 3px solid #73AD21;
                }
    
                div.limited {
                max-width: 500px;
                margin: auto;
                border: 3px solid #212aad;
                }
    
                #mrClippy{
                  position:fixed;
                  bottom: 0;
                  right: 0;
                  opacity: .9;
    
                }
              #floater{
                  max-width: 500px;
                  margin: auto;
                  border: 3px solid #49009c;
              }
              #floatr{
                  float:right;
              }
              #floatel{
                  width: 500px;
                  padding: 10px;
                  margin: auto;
                  border: 3px solid #00d4b1;
              }
              #floatl{
                  float:left;
              }
              p{
                  overflow: auto;
                  padding: 10px;
              }
                /* this is whats needed to center an image wow*/
              #centeredImage{
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                  width: 40%;
              }
    
                /*all paragraphs' first letter, could refine like p.intro::blah!*/
              p::first-letter {
                color: #ff0000;
                font-variant: small-caps;
              }  
              /*div::before {
              content: url(check.jpg);
            }
            /*user selection (highlighted text)*/
            ::selection {
              color: red;
              background: yellow;
            }
            /*for drop down nav bar*/
            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: #333;
            }
    
            li {
              float: left;
            }
    
            li a, .dropbtn {
              display: inline-block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            }
    
            li a:hover, .dropdown:hover .dropbtn {
              background-color: red;
            }
    
            li.dropdown {
              display: inline-block;
            }
    
            .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f9f9f9;
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;
            }
    
            .dropdown-content a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              text-align: left;
            }
    
            .dropdown-content a:hover {background-color: #f1f1f1;}
    
            .dropdown:hover .dropdown-content {
              display: block;
            }
            ol {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: #333;
              position: -webkit-sticky; /* Safari */
              position: sticky;
              top: 0;
              z-index: 1;
            }
    
            li.bar {
              float: left;
            }
    
            li.bar a {
              display: block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            }
    
            li.bar a:hover {
              background-color: #111;
            }
    
            .active {
              background-color: #4CAF50;
            }
            /*responive CSS*/
            div.gallery {
              border: 1px solid #ccc;
            }
    
            div.gallery:hover {
              border: 1px solid #777;
            }
    
            div.gallery img {
              width: 100%;
              height: auto;
            }
    
            div.desc {
              padding: 15px;
              text-align: center;
            }
    
            * {
              box-sizing: border-box;
            }
    
            .responsive {
              padding: 0 6px;
              float: left;
              width: 33.3%;
            }
    
            @media only screen and (max-width: 700px) {
              .responsive {
                width: 49.99999%;
                margin: 6px 0;
              }
            }
    
            @media only screen and (max-width: 500px) {
              .responsive {
                width: 100%;
              }
            }
    
            .clearfix:after {
              content: "";
              display: table;
              clear: both;
            }
    
            textarea {
              width: 100%;
              height: 150px;
              padding: 12px 20px;
              box-sizing: border-box;
              border: 2px solid #ccc;
              border-radius: 4px;
              background-color: #f8f8f8;
              font-size: 16px;
              resize: none;
            }
            input[type=text], select {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
            }
    
            input[type=submit] {
              width: 100%;
              background-color: #4CAF50;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
            }
    
            input[type=submit]:hover {
              background-color: #45a049;
            }
    
            div.form {
              border-radius: 5px;
              background-color: #f2f2f2;
              padding: 20px;
            }
    
            /*normal website layout*/
            .header {
                background-image: url("header.jpg");
                padding: 5px;
                text-align: center;
                background-repeat: no-repeat;
                background-size: cover;
              }
            body {
              margin: 0;
            }
    
           /* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #multipleBackgrounds{
    height: 300px;
    background-image: url(angryClip.png),url(header.jpg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, no-repeat;
    background-size: 50px, 2000px;
    text-align: right;
    
  }
  #spacer{
    height: 50px;
    background-color: rgb(229, 226, 226);
  }
  #sunset {
    height: 300px;
  }
  div.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  
  div.container2 {
    padding: 10px;
  }
  @font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
    font-stretch: expanded;
 }
 
 #changedFont {
    font-family: myFirstFont;
 }

 #mySkewedPhoto{
   transform: skewX(20deg);
   float: inline-end;
 }
 div.tran {
  width: 25%;
  height: 200px;
  float: inline;
  transition: width 2s ease .1s;
}
div.tran:hover {
  width: 75%;
}
div.animate {
  display: block;
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  /*  animation-name: example;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;*/
  text-align: center;
  padding: 50px;
  animation: myfirst 5s ease 2s infinite alternate;
  z-index: 0;

}

@keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px; transform: rotate(45deg);}
  50%  {background-color:blue; left:200px; top:200px;transform: rotate(0deg)}
  75%  {background-color:green; left:0px; top:200px;transform: rotate(-45deg)}
  100% {background-color:red; left:0px; top:0px;}
}
div.animCont{
  margin: auto;
}
.paintHatImg {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
  display: inline-block;
}

.paintHatImg:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.fadeContainer {
  position: relative;
  width: 250px;
  display: inline-block;
}

.fadeImage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.fadeMiddle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.fadeContainer:hover .fadeImage {
  opacity: 0.3;
}

.fadeContainer:hover .fadeMiddle {
  opacity: 1;
}

.fadeText {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.buttonAnimate {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonAnimate span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonAnimate span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonAnimate:hover span {
  padding-right: 25px;
}

.buttonAnimate:hover span:after {
  opacity: 1;
  right: 0;
}
div.columns h2{
  column-span: all;
  position: relative;
  left: 530px;
}
div.columns{
  column-count: 3;  
  column-gap: 40px;
  column-rule-style: groove;
}
div.unboxed{
  width: 300px;
  height: 100px;
  border: 1px solid blue;
  box-sizing: border-box;
}
div.boxed{
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 1px solid red;
  box-sizing: border-box;
}
/*if the screen is atleast 480px*/
@media screen and (min-width:480px){
  div.mediaQueries{
    background-color: lightgreen;
    font-size: 20px;
  }
}
.mediaImage{
  width:300px;
  height:400px;
}

/* if the screen is less than 600px*/
@media screen and (max-width:600px){
  .mediaImage{
    width: 100px;
    height: 200px;
  }
  li{
    display: none;
  }
}

.rowQ, .columnQ {
  box-sizing: border-box;
}

/* Container for flexboxes */
.rowQ {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.columnQ {
  flex: 25%;
  padding: 20px;
}

/*On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .columnQ {
    flex: 50%;
  }
}

/*On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .rowQ {
    flex-direction: column;
  }
}
/* When the width is between 600px and 900px OR above 1100px - change the appearance of <div> kind of weird to have but who knows*/
@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
  div.multiQ {
    font-size: 20px;
    padding: 50px;
    border: 8px solid black;
    background: yellow;
  }
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.grid-containerG {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-containerG > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item8 {
  grid-area: 1 / 2 / 5 / 6;

}